@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-header_container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left-header_container {
    width: 340px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-header_container img {
    width: 20%;
    height: auto;
}

/* TERM MONITOR */
.left-header_text {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    /* font-size: 25.5321px; */
    /* line-height: 38px; */
    /* identical to box height */

    color: #3f0e40;
}

.left-header_text span {
    font-weight: 600;
}

.right-header_container {
    /* position: absolute; */
    height: 90px;
    width: 100%;

    display: flex;
    align-items: center;
    /* padding-left: 3rem; */

    background: linear-gradient(0deg, #3f0e40, #3f0e40), #2196f3;
    /* Shadow / 4 */

    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
        0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12);
}

/* KEYWORDS */
.right-header_text {
    /* position: absolute; */
    /* width: 166px; */
    /* height: 53px; */
    /* left: 100px; */
    /* top: 22px; */

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 1.7rem;
    height: 100%;
    margin-left: 3rem;
    /* line-height: 175%; */
    /* identical to box height, or 52px */

    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1.9px;

    color: #ffffff;
}

.profile-icon {
    position: absolute;
    right: 25px;
    height: 40px;
    width: 40px;
    font-size: 1.9rem;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #f8f8f8;
    border-radius: 50px;
}

.profile-icon span{
    font-family: Poppins;
    font-weight: 600;
    font-size: 1.4rem;
}